{% extends 'base.html.twig' %}

{% block title %}Question: {{ question }}{% endblock %}

{% block body %}
    <h1>{{ question }}</h1>

    <ul>
        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>
    {# oh, I'm just a comment hiding here #}

    <h2>Ответов: {{ answers|length }}</h2>

    <div>
        привет
    </div>
{% endblock %}